.frame{
    background-color: purple;
    margin:4px;
    height: 230px;
    width: 200px;
}

.icon{
    height:20px;
    width:20px; 
    margin-top: 3px;
    margin-left: 3px;
    position: absolute;
    display: none;
}


.icon-func:hover .icon{
    display:block;
}