/* .login-background{
    background-image: url('./imgs/beautiful_scenery_view_with_reflection_on_water_hd_nature.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: none;
    background-color: green;
    background-blend-mode: darken; 
    height: 100%;
}

.login-container{
    height: 100vh;
    display:flex;
} */